<p>{{name}},</p>
<p>{{responder}} has commented on {{formName}} #{{id}}.</p>
<p>To view the {{formName}} you can log on to the system or follow this link: <a href="{{url}}">View {{formName}} #{{id}}</a></p>
<p>Thank you,<br>SmartTicket</p>
<p></p>
<p>If you have received this email in error, please contact your administrator or contact us through the <a href="{{smartTicketUrl}}">SmartTicket</a> web site.</p>
